.mail:hover {
    -fx-fill: #bdc3cc ;
}

.folder{
    -fx-border-width: 0;
    -fx-background-color:  #336dcc;
    -fx-border-radius: 0;
    -fx-cursor: HAND;
    -fx-font-family: UniSansRegular;
    -fx-font-size: 12.0D;
    -fx-font-style: italic;
    -fx-pref-width: 261.0D;
    -fx-pref-height: 45.0D;
    -fx-text-fill: WHITE;
}